<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    <add key="HostAddress" value="localhost" />
    <add key="ClientTenantName" value="MES" />
    <add key="IsUsingLoadBalancer" value="false" />
    <add key="ClientId" value="MES" />
    <add key="UseSsl" value="false" />
    <add key="SecurityAccessToken" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRJZCI6Ik1FUyIsInRlbmFudE5hbWUiOiJNRVMiLCJzdWIiOiJhZG1pbiIsInNjb3BlIjpudWxsLCJleHRyYVZhbHVlcyI6bnVsbCwidHlwZSI6IlBBVCIsImlhdCI6MTc0NzQxNTA4OCwiZXhwIjoxNzQ5OTQxOTk5LCJhdWQiOiJBdXRoUG9ydGFsIiwiaXNzIjoiQXV0aFBvcnRhbCJ9.AZeSJ3FP5klSqpTpKpbeCzIPKPSSDNMU44z1NVsAkIzkZnqYPBKhTl8T-HHMh4OZglhBsdbo2lnEAX7Ghno24z6qWyAsw7PEenfxpqPN4x53lG_GmgzFhdcKzt4R00_q-8md8eXkcZMmH3gRLsApC31-4m5dhku7bvxIMoT7Iu1fLnY-alonmau9hu3yXnJeoxZPVQor8_4h3t__BnIh7wIS82yyVp4QaRybcWtd7pT2z3xggqJxUtMkH_mnKGy5gs-hWthbclMLCNZar0PhBRjscr-w9-mwq-7EgLB4LuIml1sC7rJK2PIw8A3HL9wAhKQUP7eoEnLp39ZWodjQCg" />
    <add key="SecurityPortalBaseAddress" value="http://localhost/SecurityPortal/" />
  </appSettings>-->

  <!--<appSettings>
    <add key="HostAddress" value="nightly-dev-112-mes.apps.rhos.cm-mes.dev" />
    <add key="ClientTenantName" value="MesDevelopment" />
    <add key="IsUsingLoadBalancer" value="false" />
    <add key="ClientId" value="MES" />
    <add key="UseSsl" value="true" />
    <add key="SecurityAccessToken" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRJZCI6Ik1FUyIsInRlbmFudE5hbWUiOiJNZXNEZXZlbG9wbWVudCIsInN1YiI6ImFkbWluIiwic2NvcGUiOm51bGwsImV4dHJhVmFsdWVzIjpudWxsLCJ0eXBlIjoiUEFUIiwiaWF0IjoxNzQ3MzEyNzg3LCJleHAiOjE3NTUwMzk1OTksImF1ZCI6IkF1dGhQb3J0YWwiLCJpc3MiOiJBdXRoUG9ydGFsIn0.eN5Gyc1kCqlyoNIaRMTBbXMwq-Tq2p2mxpSfzuw4qQQCHjP6Cth1o4gFyL4UecDL1meoIqn5fz3LGSld1vxfDThHWQX64ZMixB2C6pNffDHbL-VMjGdEXSt1cxvRmk_NIgQ03bt06fuxbbpoBxSw71A8n2D8v8Y_Pm8fKt88s_rxd_Egc8USBE4cKzJde_7RJpDNB3xYEVb2mehIQLDxIApqH_jFa5xBuzRiMNGPV1baPX4WwIGe3-WlB2A3EDp1JePMeI3oMVS_9pu0JGDMT35cCgVq4v7SP0N-hgqOT-oNWDU6DUrVZYzocdYtLDgA-tFQ1_2AdYKCrSWCz_PPbg" />
    <add key="SecurityPortalBaseAddress" value="https://nightly-dev-112-mes.apps.rhos.cm-mes.dev/SecurityPortal/tenant" />
  </appSettings>-->

  <!--<appSettings>
    <add key="HostAddress" value="mes-summit-edge.apps.rhosdmz.criticalmes.dev" />
    <add key="ClientTenantName" value="cmf" />
    <add key="IsUsingLoadBalancer" value="false" />
    <add key="ClientId" value="MES" />
    <add key="UseSsl" value="true" />
    <add key="SecurityAccessToken" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRJZCI6Ik1FUyIsInRlbmFudE5hbWUiOiJjbWYiLCJzdWIiOiJhZG1pbiIsInNjb3BlIjpudWxsLCJleHRyYVZhbHVlcyI6bnVsbCwidHlwZSI6IlBBVCIsImlhdCI6MTc0NzY0MTkwNywiZXhwIjoyMTQ1NTcxMTk5LCJhdWQiOiJBdXRoUG9ydGFsIiwiaXNzIjoiQXV0aFBvcnRhbCJ9.EFB0WtZ7IgVWPzsp90E_mYRwdxIcoAGECo3BRAT_2Us1LyWSz8M5UzQwrFJpt9IqtHZEE6_DjittjM-tuvamKkEeiNFar-kCz1giw0TgKcC-4yQ10KBgfef5smopAyz2p2XKymSylFG-yoRXYhMYy7HdmwbQ_GB-kXeLT4nI9tuZTCD48xkLW8KUcp3Kf4fTQiHZaQz7b9P3Z-PXAa0KArGKqZiZ4gd-DdfoF2E8ZBD2h_giUiaW_RljNada7fFRM4jfUngIH9S-MDDZWrvTJpQediBBHPvOy7HYxVYhUxpFo2G2opHWjlizCAamfvnIno3tAsLRlcDQqatwVkytbA" />
    <add key="SecurityPortalBaseAddress" value="https://mes-summit-edge.apps.rhosdmz.criticalmes.dev/SecurityPortal/tenant" />
  </appSettings>-->

  <appSettings>
    <add key="HostAddress" value="tech-dataplatform-dev.apps.rhos.cm-mes.dev" />
    <add key="ClientTenantName" value="MES" />
    <add key="IsUsingLoadBalancer" value="false" />
    <add key="ClientId" value="MES" />
    <add key="UseSsl" value="true" />
    <add key="SecurityAccessToken" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRJZCI6Ik1FUyIsInRlbmFudE5hbWUiOiJNRVMiLCJzdWIiOiJhZG1pbiIsInNjb3BlIjpudWxsLCJleHRyYVZhbHVlcyI6bnVsbCwidHlwZSI6IlBBVCIsImlhdCI6MTc0NzY1OTI3NywiZXhwIjoyMTQ1NTcxMTk5LCJhdWQiOiJBdXRoUG9ydGFsIiwiaXNzIjoiQXV0aFBvcnRhbCJ9.cn7VMgbZ84ujjdUUqR-M011OgZIRGpdboj1qDLOM_jpLjIItI8rbSayO4NDroRv3hntqMGKB9CYM9HiGVOgzqcohN0W8XYIv1YNoQ3PZTWKt10mq-ER_wjrMB0fQWgWrP0h3jKMZZB6g9OtY3Ws00i9d54aam48acgAphGdaL-ZcceqMCsGkO9fJ46b3tK3zfb37EohQnenSa-2GxUtmOvSSVm3L1NC2Id76VE_2U7Enjyo21RT6y1XP7bBi0blLHPt3Y_iPHoU1AblwxjJ-k06odfeU6ilrkPB9UUu-frHj-OfQoRo343ngsmL1d-PTYTpacfvN-w6Y206sebmQ8Q" />
    <add key="SecurityPortalBaseAddress" value="https://tech-dataplatform-dev.apps.rhos.cm-mes.dev/SecurityPortal/tenant" />
  </appSettings>
</configuration>