<cmf-core-connect-iot-taskSettings [showInputsTab]="true" [showOutputsTab]="true" selectedTab="Code" [saveOnKeyboardShortcut]="true">

    <cmf-core-controls-baseWidget i18n-mainTitle="@@@criticalmanufacturing/connect-iot-controller-engine-core-tasks/code-execution.settings#SETTINGS" mainTitle="Settings">
        <cmf-core-business-controls-propertyContainer>

            <!-- expiration time -->
            <cmf-core-business-controls-propertyEditor
                i18n-label="@@@criticalmanufacturing/connect-iot-controller-engine-core-tasks/code-execution.settings#EXPIRATION_TIME"
                label="Expiration Time"
                [(value)]="settings.contextExpirationInMilliseconds"
                [required]="true"
                [min]="0"
                valueType="Integer"
                i18n-infoMessage="@@@criticalmanufacturing/connect-iot-controller-engine-core-tasks/code-execution.settings#EXPIRATION_TIME_TOOLTIP"
                infoMessage="Expiration time for the values received for the same context, without updates (0 = never)"
            ></cmf-core-business-controls-propertyEditor>

        </cmf-core-business-controls-propertyContainer>
    </cmf-core-controls-baseWidget>

    <cmf-core-connect-iot-taskSettingsTab i18n-mainTitle="@@@criticalmanufacturing/connect-iot-controller-engine-core-tasks/code-execution.settings#CODE" mainTitle="Code" [fullHeight]="true" tab-id="Code">
        <div class="codeEditor">
            <cmf-core-controls-codeEditor
                [autoIndent]="true"
                cmf-core-controls-validator
                [language]="CodeEditorLanguage.Typescript"
                (editorChange)="onCodeEditorSetupFinish($any($event))"
                (valueChange)="onCodeEditorValueChange($event)">
            </cmf-core-controls-codeEditor>
        </div>
    </cmf-core-connect-iot-taskSettingsTab>

</cmf-core-connect-iot-taskSettings>
