::ng-deep cmf-core-connect-iot-tasksettings {
    div.cmf-core-connect-iot-taskSettingsTab {
        div.codeEditor {
            display: block;
            height: 100%;
            width: 100%;
            overflow: hidden;
            cmf-core-controls-codeeditor {
                height: 100%;
            }
        }
    }
}
